fastapi
uvicorn
python-multipart
supabase
langchain
langchain-community
langchain-core
qdrant-client
pypdf2
python-docx
openpyxl
python-pptx
pandas
numpy
python-dotenv
httpx
pydantic
openai
trafilatura
langchain-text-splitters
langchain-openai
langchain-qdrant
